img {
    vertical-align: middle;
}

.containerrr {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    text-align: center;

}

.cursor {
    cursor: pointer;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #e98e3e;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(229, 197, 55, 0.8);
}

.numbertext {
    color: #e29d61;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.caption-container {
    text-align: center;
    background-color: rgb(224, 208, 66);
    padding: 2px 16px;
    color: rgb(143, 113, 15);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.column {
    float: left;
    width: 16.66%;
}


.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.galeria {
    margin-top: 0;
}