@media only screen and (max-width: 600px) {
    .grid--3-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid--4-cols {
        grid-template-columns: repeat(1, 1fr);

    }


    .grid--2-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid:not(:last-child) {
        margin-bottom: 9.6rem;

    }

    .main-nav-list {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    .section-testimonials {

        grid-template-columns: auto;


    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
        padding: 0.6rem;

    }

    .testimonials {

        grid-template-columns: auto;
        row-gap: 0rem;
        column-gap: 8rem;
        text-align: center;

    }

    .logos {
        overflow-x: scroll;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .grid--3-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid--4-cols {
        grid-template-columns: repeat(1, 1fr);

    }

    .grid--2-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid:not(:last-child) {
        margin-bottom: 9.6rem;

    }

    .main-nav-list {

        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    .section-testimonials {

        grid-template-columns: auto;


    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
        padding: 0.6rem;

    }

    .testimonials {

        grid-template-columns: auto;
        row-gap: 0rem;
        column-gap: 8rem;
        text-align: center;

    }

    .logos {
        overflow-x: scroll;
    }

    .grid--5-cols {
        grid-template-columns: repeat(2, 1fr);

    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .grid--3-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid--4-cols {
        grid-template-columns: repeat(1, 1fr);

    }

    .grid--2-cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid:not(:last-child) {
        margin-bottom: 9.6rem;

    }

    .main-nav-list {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
    }

    .section-testimonials {

        grid-template-columns: auto;


    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
        padding: 0.6rem;

    }

    .testimonials {

        grid-template-columns: auto;
        row-gap: 0rem;
        column-gap: 8rem;
        text-align: center;

    }

    .logos {
        overflow-x: scroll;
    }

    .grid--5-cols {
        grid-template-columns: repeat(3, 1fr);

    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);

    }

    .grid--2-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid:not(:last-child) {
        margin-bottom: 9.6rem;

    }

    .main-nav-list {
        flex-direction: row;
    }

    .header {
        flex-direction: row;
    }

    .section-testimonials {

        grid-template-columns: 1.5fr 1fr;


    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        padding: 1.6rem;

    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.8rem;
        column-gap: 4rem;

    }

    .logos {
        overflow-x: clip;
    }

    .grid--5-cols {
        grid-template-columns: repeat(4, 1fr);

    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid--3-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--4-cols {
        grid-template-columns: repeat(4, 1fr);

    }

    .grid--2-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid:not(:last-child) {
        margin-bottom: 9.6rem;

    }

    .main-nav-list {
        flex-direction: row;
    }

    .header {
        flex-direction: row;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        padding: 1.6rem;

    }

    .testimonials {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4.8rem;
        column-gap: 8rem;

    }

    .logos {
        overflow-x: clip;
    }

    .grid--5-cols {
        grid-template-columns: repeat(5, 1fr);

    }

}