* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.html {
    /* font-size: 60.5%; */
}

.body {
    font-family: "rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;

}

.main {
    max-width: 120rem;
}

.conteiner {
    max-width: 700px;
    padding: 0 3.2rem;
    margin: 0 auto;
}


.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

}

/* .grid:last-child{
    margin-bottom: 0;
} */



.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;

}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}


.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
    display: grid;

}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);

}


.grid--center-v {
    align-items: center;
}





.heading-primery .heading-firstly .heading-secondary .heading-tertiary {


    font-weight: 600;
    color: #333;
    letter-spacing: -0.5px;
}

.heading-primery {
    font-size: 30px;
    line-height: 1.05;
    margin-bottom: 3.2rem;
    margin-left: 30px;
}

.heading-firstly {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    margin-left: 30px;
}

.heading-secondary {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    margin-left: 2rem;
}

.heading-tertiary {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 30px;
    ;
    font-weight: 800;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-left: 2rem;
    letter-spacing: 0.75px;
}

.btn {
    background-color: #e67e22;
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 32px;
    border-radius: 30px;
    transition: background-color 1.2s;
}

.btn:link,
.btn:visited {
    background-color: #e67e22;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 32px;
    border-radius: 30px;
    transition: background-color 0.4s;
}


.btn--full:link .btn--full:visited {
    background-color: #e67e22;
    color: #fff;

}

.btn--full:hover,
.btn--full:active {
    background-color: #e29d61;
}


.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #e29d61;
    box-shadow: inset 0 0 0 3px #fff;
    transition: background-color 1.2s;
}


/* .margin-right--sm{
     margin-right: 4rem !important; */








/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/
/* <<<<<<<<<<<<<GENERAL CSS >>>>>>>>>>>>>>>>*/




.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    /* height: 15px;; */


}

.logo {
    height: 110px;
}


/********************************/
/*naviation/* 
/*******/
.nav {
    display: flex;
    align-items: center;


}


.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s;

}

.nav-cta {
    margin-left: 50px;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;

}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 30px;
    color: #fff;
    background-color: #e67e22;

}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;


}



/********************************/
/*navigation/* 
/*******/


/********************************/
/*header section/* 
/*******/

.section-hero {
    height: 100%;
    padding: 50px 0;
    background-color: #cf711f;

}



.hero {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
    background-color: #fdf2e9;
}




.heading-tertiary {}

.hero-description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

/* .btn{ 
    background-color: #e67e22;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 30px;
    transition: background-color 0.4s ;
}
*/



.hero-img {
    width: 100%;
}

.link:link,
.link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition-property: all 0.3s;
}

.link:hover,
.link:active {
    color: #e29d61;
    font-style: italic;
    border-bottom: 1px solid transparent;

}

/*<<<<<<<<< HELPER SETTING >>>>>>>>.*/

.margin-right--sm {
    margin-right: 2rem !important;
}

.margin-bottom-md {
    margin-bottom: 2rem !important;

}

.center-text {
    text-align: center;

}


/* featured in SECTION */

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 00.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    margin-top: 3rem;
}

.logos {
    display: flex;
    justify-content: space-around;



}

.logos img {
    height: 5.2rem;

}


/*************************************/
/*SECTION-HOW*/
/*************************************/

.section-how {
    padding: 9.6rem 0;

}

.step-number {
    font-size: 100px;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 22px;
    line-height: 1.0;

}

.step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.step-img-box::before {

    width: 60%;

    /* height:     */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;

}

.step-img-box::after {

    width: 450%;
    padding: bottom 45px;
    background-color: #fae;
    z-index: -1;

}


.step-img {
    width: 35%;



}

.step-text-box {
    padding: 20px;
    margin-left: 20px;
}


/*<<<<<section-karebi>>>> */

.section-karebi {

    padding: 9.6rem 0;

}

.karebi {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.7);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;

}

.karebi:hover {
    transform: translatey(-1rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.4);
}

.karebi-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;

}

.kari-tags {
    margin-bottom: 1.2rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    margin-left: 40px;
    border-radius: 30px;
    font-weight: 600;

}

.kari-title {
    font-size: 32px;
    color: #333;
    font-weight: 600;
    margin-bottom: 35px;
    margin-left: 40px;



}


.karis-maxasiatebelia {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 40px;

}

.kari-icon {
    height: 1.8rem;
    width: 1.8rem;
    color: #e67e22;
    font-size: 10px;
}

.karis-maxasiatebeli {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 1.6rem
}

.kari-img {
    width: 100%;
}

/* strong{
    font-weight: 550;

} */

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 30px;

}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;


}


.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icone {
    width: 3rem;
    height: 3rem;
    color: #e67e22;

}


/* >>>>>>>>>>>>>>>>>>>>>>>
 SECTION TESTIMONIALS
 
 */
.section-testimonials {

    background-color: #e29d6181;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;

}


.kibee2 {
    width: 20.4rem;
    height: 20.4rem;
    border-radius: 40%;
    margin-bottom: 1.2rem;
}

.testimonials-container {
    padding: 9.6rem 0;

}

.testimonial {
    margin-left: 40px;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;

}

.testimonial-text {
    font-weight: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;

}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;

}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 300px;
    transition: all 0.4s;

}

.gallery-item img:hover {
    transform: scale(1.1)
}



/* <<<<<<<<<<<<>>>>>>>>>>.
>>>>>>>>>>>>>>>>>>>>>>>>>>>
GIREBULEBA>>>>>>>> */

.container {
    margin: 50px auto;


}

.pricing-plan--starter {
    justify-self: end;

}

.pricing-plan {
    /* margin-left: 50px;
    margin-right: 50px; */
    background-color: #fdf2e9;
    border-radius: 11px;
    /* padding: 50px; */

}

.chvenze-icon {
    color: #e67e22;
    height: 2.4rem;
    width: 2.4rem;
    margin-bottom: 3.2rem;
    margin: 3.2rem;
    text-align: center;
}

.chvenze-title {
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 1.6rem;
    text-align: center;



}

.chvenze-text {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;


}

.chvenze {
    padding: 0 40px;
    text-align: center;
}


/* <<<<<<<<<<<<<<<<<<shemadgenloba>>>>>>>>> */




.seqcia-mtliani {
    /* padding: 4.8rem 0 12.8rem ; */

}

.mtliani {
    max-width: 120rem;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right, #eb984e, #e67e22);
    overflow: hidden;

    /*  */
    min-height: 50rem;

}

.mtliani-texstis-yuti {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.mtliani .satauri-meore {
    /* color:#45260a; */
    color: inherit;
    margin-bottom: 3.2rem;
    font-size: 2.2rem;
}

.mtliani-texstis {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.mtlini-surati-yutii {
    background-image: linear-gradient(to right, rgba(235, 151, 70, 0.351),
            rgba(230, 125, 34, 0.35)),

        url("../img/surati-11.jpg");
    background-size: cover;
    background-position: center;
}

.shemadgenlobis-forma {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.shemadgenlobis-forma label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;

}

.shemadgenlobis-forma input,
.shemadgenlobis-forma select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}



.shemadgenlobis-forma input::placeholder {

    color: #aaa;
}

.shemadgenlobis-forma select {}

.shemadgenlobis-forma button {
    background-color: #dbbda2;
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    margin: 53px 0 0 0;
    border-radius: 30px;
    transition: background-color 0.4s;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.seqcia-mtliani *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(258, 242, 233, 0.51);
}


/* <<<<<<<<<<<<<<<<<FOOTER>>>>>>>>> */

.footer {

    border-top: 10px solid rgba(71, 69, 69, 0.883);
    border-bottom: 10px solid rgba(71, 69, 69, 0.883);
    margin-top: 10px;
    font-size: 14px;

}

.logo-col {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;

}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-ikons {
    height: 2.4rem;
    width: 2.4rem;


}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;


}

.footer-heading,
.footer-addres {

    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.contacti {
    font-size: normal;
    font-size: 15px;
    line-height: 1.1;
}

.address {
    margin-bottom: 2.4re;

}

.footer-navig {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

}

.footer-link:link .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:link .footer-link:visited {
    color: #555;
}